* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

.contact {
  margin: 20px; 
}

.contactItems {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: center;
  font-size: 1rem; 
  font-weight: bold;
}

.contactItems img {
  width: 200px; 
}

